.userBanner {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  height: 60px;
  padding: 0 20px;
}

.userIcon {
  width: 32px;
  height: 32px;
  background: #ddd;
  vertical-align: bottom;
}

.spacing {
  flex-grow: 1;
}

.nav {
  padding: 8px;
  border-bottom: 3px solid transparent;
  transition: all 0.2s;
}

.nav:hover {
  border-bottom: 3px solid #000000;
}

.padding {
  height: 60px;
}
