SERVER_PORT=<%= serverPort %>
BASE_PATH=/api
API_ORIGIN=http://localhost:<%= serverPort %>
JWT_SECRET=supersecret
USER_ID=id
USER_PASS=pass
TYPEORM_HOST=localhost
TYPEORM_USERNAME=user
TYPEORM_PASSWORD=pass
TYPEORM_DATABASE=<%= dbName %>
TYPEORM_PORT=<%= dbPort %>
