# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules/

# testing
/coverage

# next.js
client/.next/
client/out/

# production
client/lib
server/build

# misc
.DS_Store
tsconfig.tsbuildinfo

# debug
npm-debug.log*

# local env files
/.env
/.env.local
/.env.development.local
/.env.test.local
/.env.production.local

# server
server/**/$*.ts
!server/templates/**/node_modules
