.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 0 0.5rem;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
}

.footer img {
  margin-left: 0.5rem;
}

.footer a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  height: 1em;
}
