.frourio {
  width: 200px;
  margin: 8px;
}

.card {
  margin-top: 16px;
  background: #ebfff5;
  border-radius: 8px;
}

.message {
  font-size: 16px;
  font-weight: bold;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn > .radioIcon {
  width: 12px;
  height: 12px;
  border: 2px solid #333;
  border-radius: 50%;
}

.btn.active > .radioIcon {
  background: #0edbda;
}

.main {
  width: 800px;
  margin: 0 auto;
  padding: 24px 0;
}

.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer img {
  margin-left: 0.5rem;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title a {
  color: #0edbda;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  color: #0d0e59;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.logo {
  height: 1em;
}
